.slide {
  height: 500px;
  background-size: cover !important;
  position: relative;
  .grey-mask {
    height: 500px;
    width: 100%;
    background: white;
    position: absolute;
    opacity: 0.3;
    transition: opacity 1s;
  }
  &:hover {
    .grey-mask {
      opacity: 0.0;
    }
  }
}
.intro {
    background: url("bg2.jpeg");
  &:hover {
  }
}
.skills.list {
  background: url("bg1.jpeg");
}
.portfolio.list {
  background: url("bg3.jpg");
}
.social.list {
  background: url("bg4.jpg");
}