$border: #F2F6F7;

body, p, a, .button {
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

.button {
  color: white;
  background: #556270;
  border-radius: 5px;
  border: 2px solid white;
  &:hover {
    background: white;
    color: #556270; 
  }
}

.button.inverted {
  color: #556270;
  background: white;
  border-radius: 5px;
  border: 2px solid white;
  &:hover {
    background: #556270;
    color: white; 
  } 
}

#main-header {
  color: white;
  .top-bar {
    background: black;
    position: relative;
    span {
      margin-right: 20px;
      &:hover {
        border-bottom: 1px solid white;
        padding-bottom: 3px;
        cursor: pointer;
      }
    }
  }
}


.slide {
  height: 750px;
  background: white;
  background-size: cover !important;
  position: relative;
  overflow: visible;
  // border-bottom: 4px solid white;

  -webkit-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.4);

  .right {
    float: right;
  }

 .grey-mask {
    background: white;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 2s;
  }

  &:hover {
    .grey-mask {
      opacity: 0.0;
    }
  }

}

.intro {
  background: url("bg2.jpeg");
  position: relative;
  z-index: 30;
}

.skills.list {
  height: 400px;
  background: url("bg1.jpeg");
  z-index: 20;
  position: relative;

  .content {
    padding-top: 40px;
  }
  .skills {
    font-size: 36px;
    color: #F0F0F0;
    background: black;
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0.7;
    margin-top: 50px;
    transition: opacity .5s;

    h2 {
      font-size: 72px;
    }
    .bigger {
      font-size: 48px;
    }
    .biggest {
      font-size: 62px;
    }
  }
}

.portfolio-slide {
  position: relative;
  z-index: 10;
  .portfolio-item {
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    .image {
      background: black;
      padding: 10px;
      width: 500px;
      height: auto;
      float: left;
      margin-right: 30px;
    }
    .description {
      overflow: hidden;
      h3 {
        color: white;
      }
    }
  }
}

.portfolio.list {
  background: url("bg4.jpg");
  position: relative;
  // height: 325px;
  .portfolio-title {
    font-size: 140px;
    color: white;
    text-align: center;
  }
}


.social {
  position: relative;
  background: black;
  padding: 20px 0;
  text-align: center;
  a {
    color: white;
    font-size: 32px;
    margin: 0 10px; 
    &:hover {
      padding-bottom: 5px;
      border-bottom: 2px solid white;
    }
  }
}

.red, .purple, .orange, .green, .yellow, .blue {
  transition: color 0.5s;
}

.red {
 &:hover {
  color: #EF746F;
  } 
}
.purple {
  font-weight: bold;
  &:hover {
    color: #F1BBBA;
  }
} 
.orange {
  &:hover {
    color: #FFBE40;
  }
}
.green {
  &:hover {
    color: #B3CC57;
  }
}
.blue {
  &:hover {
    color: #28CBE0;
  }
}
.yellow {
  &:hover {
    color: #FFE181;
  }
}

.back-to-top {
  position: absolute;
  bottom: 30px;
  font-size: 32px;
  color: white;
  right: 50px;
  &:hover {
    cursor: pointer;
  }
}

