$border: #F2F6F7;

#main-header {
  color: white;
  .top-bar {
    background: black;
  }
}

.slide {
  height: 750px;
  background: white;
  background-size: cover !important;
  position: relative;
  overflow: hidden;

  .right {
    float: right;
  }

 .grey-mask {
    background: white;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 2s;
  }

  &:hover {
    .grey-mask {
      opacity: 0.0;
    }
  }

}
.intro {
  background: url("bg2.jpeg");
}
.skills.list {
  height: 400px;
  background: url("bg1.jpeg");

  .content {
    padding-top: 40px;
  }
  .skills {
    font-size: 36px;
    color: #F0F0F0;
    background: black;
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0.4;
    margin-top: 50px;
    transition: opacity .5s;

    &:hover {
      opacity: 0.7;
    }

    h2 {
      font-size: 72px;
    }
    .bigger {
      font-size: 48px;
    }
    .biggest {
      font-size: 62px;
    }
  }
}


.portfolio-slide {
  .portfolio-item {
    margin-top: 40px;
    // background: rgba(225,225,225,0.3);
    border-radius: 10px;
    padding: 20px;
    color: white;
    .image {
      background: black;
      padding: 10px;
      width: 500px;
      height: auto;
      float: left;
      margin-right: 30px;
    }
    .description {
      overflow: hidden;
      h5 {
        color: white;
      }
    }
  }
}


.portfolio.list {
  background: url("bg4.jpg");
  position: relative;
  // height: 325px;
  .portfolio-title {
    font-size: 140px;
    color: white;
    text-align: center;
  }
}
.social.list {
  background: url("bg3.jpg");
}

.red, .purple, .orange, .green {
  transition: color 0.5s;
}
.red {
 &:hover {
  color: #EF746F;
  } 
}
.purple {
  font-weight: bold;
  &:hover {
    color: #F1BBBA;
  }
} 
.orange {
  &:hover {
    color: #FFBE40;
  }
}
.green {
  &:hover {
    color: #B3CC57;
  }
}
