<div class="intro slide">
  <div class="grey-mask">
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h2>jon rogozen</h2>

      <p>Full stack web developer, Graduate of @MakerSquare, Starbucks Refresher enthusiast.</p>
      <p><a href="">view resume</a> <a href="">read blog</a></p>
    </div>
  </div>
</div>

<div class="skills list slide">
  <div class="grey-mask">
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h2>skills</h2>

      <ul>
        <li>ruby
          <ul>
            <li>rails</li>
            <li>sinatra</li>
            <li>restful api</li>
          </ul>
        </li>
        <li>javascript
          <ul>
            <li>angular</li>
            <li>underscore</li>
            <li>moustache</li>
            <li>jQuery</li>
          </ul>
        </li>
        <li>web
          <ul>
            <li>html</li>
            <li>css/scss</li>
            <li>foundation/bootstrap</li>
            <li>firebase</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="portfolio list slide">
  <div class="grey-mask">
  </div>
  <div class="row">
  <div class="large-12 columns">
    <h2>portfolio</h2>

    <div class="portfolio item">
      <h3>MeTube</h3>
      <p>YouTube clone</p>
      <ul>
        <li>rails</li>
        <li>foundation</li>
        <li>youtube API</li>
        <li>jQuery</li>
        <li>scss</li>
      </ul>
    </div>
    </div>
  </div>
</div>

<div class="social list slide">
  <div class="grey-mask">
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h2>socialize</h2>

      <ul>
        <li>twitter</li>
        <li>github</li>
        <li>linkedin</li>
        <li>blog</li>
        <li>resume</li>
      </ul>
    </div>
  </div>
</div>