<div id="top" class="intro slide">
<div class="grey-mask"></div>
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-5 large-offset-7 columns">

          <div class="content right">
            <h2>jon rogozen</h2>

            <p>full stack web developer, graduate of @MakerSquare, starbucks refresher enthusiast.</p>
            <p><a class="button small" href="">view resume</a></p>

            <div class="sub-content">
              <blockquote>"extremely inspiring quote about jon" <cite><a target="_blank" href="https://twitter.com/ShehzanD">@shehzan</a></cite></blockquote>
             <!--  <blockquote>"moderately inspiring quote about jon" <cite>@dj</cite></blockquote>
              <blockquote>"adequately inspiring quote about jon" <cite>@jon</cite></blockquote>
              <blockquote>"5 out of 5 stars. An anthropological tour de fource" <cite>@someone</cite></blockquote>
              <blockquote>"A (fantasy) football legend." <cite>@parag</cite></blockquote> -->
            </div>
          </div>

      </div>
      </div>
    </div>
  </div>
</div>

<div class="skills list slide">
<div class="grey-mask"></div>
  <div class="row">
    <div class="large-12 columns">

      <div class="content">

        <div class="sub-content">

          <p class="skills"><span class="bigger">rails</span>, <span class="biggest">sinatra</span>, APIs, <span class="bigger">javascript</span>, angular, underscore, jQuery, <span class="biggest">scss</span>, foundation/boostrap, <span class="biggest">ruby</span></p>

        </div>
      </div>

    </div>
  </div>
</div>



<div class="social">
  <div class="row">
    <div class="large-12 columns">
      <a target="_blank" href="http://www.twitter.com/jonrogozen" class="red">twitter</a>
      <a target="_blank" href="https://github.com/jrogozen" class="purple">github</a>
      <a target="_blank" href="https://www.linkedin.com/in/jonrogozen" class="green">linkedin</a>
      <a target="_blank" href="" class="orange">blog</a>
    </div>
  </div>
</div>



<div class="portfolio list slide">
  <div class="portfolio-title"><span class="red">pohrt</span>-<span class="purple">foh</span>-<span class="orange">lee</span>-<span class="green">oh</span></div>

  <div class="row">
    <div class="portfolio-slide">

      <div class="portfolio-item">
        <div class="image">
          <%= image_tag "metube.png" %>
        </div>
        <div class="description">
          <h3>MeTube</h3>
          <p>Youtube clone.</p>
          <p>ruby on rails, jQuery, foundation, youtube API</p>
          <p><a href="" class="button small">view site</a></p>
        </div>
      </div>

      <div class="portfolio-item">
        <div class="image">
          <%= image_tag "cupper.png" %>
        </div>
        <div class="description">
          <h5>Cupper</h5>
          <p>Real-time multiplayer King's Cup Game</p>
          <p>firebase, angular, fireangular, yeoman</p>
          <p><a href="" class="button small">view site</a></p>
        </div>
      </div>

    </div> 
  </div> 

  <i class="fa fa-arrow-up back-to-top fa-2x orange"></i>
</div>


